body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #000;
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
}
h1 {
	font-size: 3em;
}
hr {
	border-color: orange;
	border-width: 3px;
	width: 65px;
}
#main {
	display: flex;
	height: 100%;
}
.flexing {
	align-self: center;
	text-align: center;
}
.spacing {
	height: 3em;
}
.btn-primary {
	background-color: orange;
	border-color: orange;
}
.btn-xl {
	padding: 1rem 2rem;
}